.input:focus {
}

.input {
}

.inputWrapper {

}

.superInput {
}

.errorInput {

    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: red;
}
